<div class="text"><%= question.text %></div>

<% if question.completed_by? current_author %>
  <%= t 'tasks.taskables.questions.answers.already_answered' %>
  <div class="answer">
    <% question.answers.by(current_user).each do |answer| %>
      <%= answer.option.text %>
    <% end %>
  </div>
<% else %>
  <div class="options">
    <%= render partial: 'tasks/taskables/questions/answers/form', locals: { question: question } %>
  </div>
<% end %>
