@import "bourbon"
@import "mixins"

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700)
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker:400)

$dark: rgb(71, 93, 95)
$light: lighten($dark, 40%)

+keyframes(pop)
  0%
    opacity: 0
    +perspective(500px)
    +transform(scale(0.8, 0.8) rotateY(60deg))
  100%
    opacity: 1
    +perspective(500px)
    +transform(scale(1, 1) rotateY(0deg))

@font-face
  font-family: 'Hiragino'
  src: url('../fonts/hiragino_min.otf')

body
  width: 100%
  height: 100%
  background-attachment: fixed
  font-family: 'Oxygen'
  font-size: 14px
  color: #fff
  +linear-gradient(45deg, $dark, $light)

p
  line-height: 22px

.center
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)

.repository
  position: relative
  width: 30%
  margin: 0 auto

  +respond-to(mobile)
    width: 100%

h1, h2, h3
  font-family: 'Permanent Marker'
  text-align: center

h2, h3
  text-transform: uppercase

h2
  font-size: 50px

h3
  font-size: 15px

.phonetic
  opacity: 0.5
  font-style: italic

#logo
  font-family: 'Hiragino'
  font-size: 100px
  width: 100px
  margin: 0 auto
  text-align: center

  .letter
    +animation(pop .5s 1 ease-in-out)
    +animation-fill-mode(backwards)

  .letter.first
    +animation-delay(0.3s)

  .letter.second
    +animation-delay(0.2s)

  .letter.third
    +animation-delay(0.1s)
  

.headline
  margin-bottom: 30px
  +animation(pop .5s 1 ease-in-out)

  h2
    margin-bottom: 0

  .phonetic
    text-align: center

