@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker:400);
@-webkit-keyframes pop {
  /* line 11, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  0% {
    opacity: 0;
    -webkit-perspective: 500px;
    -webkit-transform: scale(0.9, 0.9) rotateY(50deg); }

  /* line 15, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  100% {
    opacity: 1;
    -webkit-perspective: 500px;
    -webkit-transform: scale(1, 1) rotateY(0deg); } }

@-moz-keyframes pop {
  /* line 11, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  0% {
    opacity: 0;
    -moz-perspective: 500px;
    -moz-transform: scale(0.9, 0.9) rotateY(50deg); }

  /* line 15, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  100% {
    opacity: 1;
    -moz-perspective: 500px;
    -moz-transform: scale(1, 1) rotateY(0deg); } }

@keyframes pop {
  /* line 11, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  0% {
    opacity: 0;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    perspective: 500px;
    -webkit-transform: scale(0.9, 0.9) rotateY(50deg);
    -moz-transform: scale(0.9, 0.9) rotateY(50deg);
    -ms-transform: scale(0.9, 0.9) rotateY(50deg);
    -o-transform: scale(0.9, 0.9) rotateY(50deg);
    transform: scale(0.9, 0.9) rotateY(50deg); }

  /* line 15, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  100% {
    opacity: 1;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    perspective: 500px;
    -webkit-transform: scale(1, 1) rotateY(0deg);
    -moz-transform: scale(1, 1) rotateY(0deg);
    -ms-transform: scale(1, 1) rotateY(0deg);
    -o-transform: scale(1, 1) rotateY(0deg);
    transform: scale(1, 1) rotateY(0deg); } }

@font-face {
  font-family: "Hiragino";
  src: url("../fonts/hiragino_min.otf"); }

/* line 24, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
body {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  font-family: "Oxygen";
  font-size: 14px;
  color: white;
  -webkit-animation: pop 0.5s 1 ease-in-out;
  -moz-animation: pop 0.5s 1 ease-in-out;
  animation: pop 0.5s 1 ease-in-out;
  background-color: #475d5f;
  background-image: -webkit-linear-gradient(-315deg, #475d5f, #afc1c3);
  background-image: linear-gradient(45deg,#475d5f, #afc1c3); }

/* line 34, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
p {
  line-height: 22px; }

/* line 37, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
.center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%); }

/* line 42, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
.repository {
  position: relative;
  width: 30%;
  margin: 0 auto; }
  @media screen and (max-width: 767px) {
    /* line 42, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
    .repository {
      width: 100%; } }

/* line 50, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
h1, h2, h3 {
  font-family: "Permanent Marker";
  text-align: center; }

/* line 54, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
h2, h3 {
  text-transform: uppercase; }

/* line 57, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
h2 {
  font-size: 50px; }

/* line 60, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
h3 {
  font-size: 15px; }

/* line 63, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
.headline {
  margin-bottom: 30px; }
  /* line 66, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  .headline h2 {
    margin-bottom: 0; }
  /* line 69, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  .headline .phonetic {
    text-align: center; }

/* line 72, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
.phonetic {
  opacity: 0.5;
  font-style: italic; }

/* line 76, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
#logo {
  font-family: "Hiragino";
  font-size: 100px;
  width: 100px;
  margin: 0 auto;
  text-align: center; }
