@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker:400);
@-webkit-keyframes pop {
  /* line 11, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  0% {
    opacity: 0;
    -webkit-perspective: 500px;
    -webkit-transform: scale(0.8, 0.8) rotateY(60deg); }

  /* line 15, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  100% {
    opacity: 1;
    -webkit-perspective: 500px;
    -webkit-transform: scale(1, 1) rotateY(0deg); } }

@-moz-keyframes pop {
  /* line 11, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  0% {
    opacity: 0;
    -moz-perspective: 500px;
    -moz-transform: scale(0.8, 0.8) rotateY(60deg); }

  /* line 15, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  100% {
    opacity: 1;
    -moz-perspective: 500px;
    -moz-transform: scale(1, 1) rotateY(0deg); } }

@keyframes pop {
  /* line 11, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  0% {
    opacity: 0;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    perspective: 500px;
    -webkit-transform: scale(0.8, 0.8) rotateY(60deg);
    -moz-transform: scale(0.8, 0.8) rotateY(60deg);
    -ms-transform: scale(0.8, 0.8) rotateY(60deg);
    -o-transform: scale(0.8, 0.8) rotateY(60deg);
    transform: scale(0.8, 0.8) rotateY(60deg); }

  /* line 15, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  100% {
    opacity: 1;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    perspective: 500px;
    -webkit-transform: scale(1, 1) rotateY(0deg);
    -moz-transform: scale(1, 1) rotateY(0deg);
    -ms-transform: scale(1, 1) rotateY(0deg);
    -o-transform: scale(1, 1) rotateY(0deg);
    transform: scale(1, 1) rotateY(0deg); } }

@font-face {
  font-family: "Hiragino";
  src: url("../fonts/hiragino_min.otf"); }

/* line 24, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
body {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  font-family: "Oxygen";
  font-size: 14px;
  color: white;
  background-color: #475d5f;
  background-image: -webkit-linear-gradient(-315deg, #475d5f, #afc1c3);
  background-image: linear-gradient(45deg,#475d5f, #afc1c3); }

/* line 33, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
p {
  line-height: 22px; }

/* line 36, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
.center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%); }

/* line 41, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
.repository {
  position: relative;
  width: 30%;
  margin: 0 auto; }
  @media screen and (max-width: 767px) {
    /* line 41, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
    .repository {
      width: 100%; } }

/* line 49, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
h1, h2, h3 {
  font-family: "Permanent Marker";
  text-align: center; }

/* line 53, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
h2, h3 {
  text-transform: uppercase; }

/* line 56, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
h2 {
  font-size: 50px; }

/* line 59, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
h3 {
  font-size: 15px; }

/* line 62, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
.phonetic {
  opacity: 0.5;
  font-style: italic; }

/* line 66, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
#hyper {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  width: 100px; }

/* line 73, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
#logo {
  font-family: "Hiragino";
  font-size: 100px;
  width: 100px;
  margin: 0 auto;
  text-align: center; }
  /* line 80, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  #logo .letter {
    -webkit-animation: pop 0.5s 1 ease-in-out;
    -moz-animation: pop 0.5s 1 ease-in-out;
    animation: pop 0.5s 1 ease-in-out;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  /* line 84, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  #logo .letter.first {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  /* line 87, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  #logo .letter.second {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  /* line 90, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  #logo .letter.third {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s; }

/* line 94, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
.headline {
  margin-bottom: 30px;
  -webkit-animation: pop 0.5s 1 ease-in-out;
  -moz-animation: pop 0.5s 1 ease-in-out;
  animation: pop 0.5s 1 ease-in-out; }
  /* line 98, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  .headline h2 {
    margin-bottom: 0; }
  /* line 101, /Users/jgorset/code/ruby/tasuku/source/stylesheets/all.css.sass */
  .headline .phonetic {
    text-align: center; }
