<div class="banner repository">
  <div class="center">
    <h1 id="logo">
      <div class="first letter">タ</div>
      <div class="second letter">ス</div>
      <div class="third letter">ク</div>
    </h1>

    <header class="headline">
      <h2>Tasuku</h2>
      <div class="phonetic">
        | tɑːsuku |
      </div>
    </header>
  </div>
</div>
