<div id="banner" class="banner repository">
  <div class="center">
    <h1 id="logo">
      <div class="first letter">タ</div>
      <div class="second letter">ス</div>
      <div class="third letter">ク</div>
    </h1>

    <header class="headline">
      <h2>Tasuku</h2>
      <div class="phonetic">
        | tɑːsuku |
      </div>
    </header>
  </div>
</div>

<div id="features" class="features repository">
  <div data-wow-offset="100" class="wow bounceIn box">
    <div class="wow bounceInLeft checkbox">
      <span class="icon fa fa-check"></span>
    </div>

    <div class="text">
      <div class="long line"></div>
      <div class="long line"></div>
      <div class="short line"></div>
    </div>
  </div>

  <p class="introduction">
    Tasuku are tasks for Ruby on Rails. We use it to create engaging learning experiences.
  </p>
</div>
