<div id="banner" class="banner repository">
  <div class="center">
    <h1 id="logo">
      <div class="first letter">タ</div>
      <div class="second letter">ス</div>
      <div class="third letter">ク</div>
    </h1>

    <header class="headline">
      <h2>Tasuku</h2>
      <div class="phonetic">
        | tɑːsuku |
      </div>
    </header>
  </div>
</div>

<div id="features" class="features repository">
  <p class="introduction">
    Tasuku is a framework for building tasks in Ruby on Rails.
  </p>

  <div data-wow-offset="100" class="wow flipInX box">
    <div class="wow flash checkbox">
      <span class="icon fa fa-check"></span>
    </div>

    <div class="text">
      <div class="long line"></div>
      <div class="long line"></div>
      <div class="short line"></div>
    </div>
  </div>

  <p>
    Tasuku ships with an array of tasks ranging from reading articles to sharing photos. You
    can make your own tasks, too, and we'd love for you to contribute if you do.
  </p>

  <p>
    Best of all, the code is already written for you. All you have to do is make it look nice.
  </p>

</div>

<div id="download" class="download repository">
  <a class="link" href="https://github.com/hyperoslo/tasuku">
    <span class="icon fa fa-github-alt"></span>Get it on GitHub
  </a>
</div>
